@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

.main-header{
    display: flex;
    background-color: #0F1C26;
   
    color: white;
    justify-content: center;
    min-height:50px ;
    font-family: 'Manrope', sans-serif;
}

.main-header-logo{
    cursor: pointer;
}

.centraliza-main-header{
    display: flex;
    max-width: 92%;
    width: 100%;
    justify-content: space-between; 
}

.centraliza-main-header > div{
    display: flex;
    align-items: center;
}

.main-header-links{
    display: flex;
}

.favoritos-link, .promocoes-link{
    align-items: center;
    display: flex;
    cursor: pointer;
}

.botao-link{
    margin-left: 15px;
    margin-right: 15px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    
}


.main-header-profile-information > span{
    margin-right: 15px;
}
.main-header-profile-image{
    max-height: 50px;
}

.input-button-conteiner{
    padding: 5px;
    border-radius: 5px;
    background-color: #2b3238;
    
}

.main-header-search-input{
    border: none;
    outline: none;
    background-color: #2b3238;
    color: white;
    
}
.main-header-search-button{
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
}