.card{
    color: white;
    font-weight: bolder;
    border: 1px solid #cccc;
    min-width: 100px;
    max-width: 180px;
    min-height: 320px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    background-color: rgba(54, 53, 53, 0.651);
    margin-bottom: 15px;
}


.movie-poster{
    max-height: 100%;
    max-width: 100%;
    
}

.movie-card-information {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.movie-card-footer{
    background-color: #A785ED;
    min-width: 80%;
    margin-bottom: 5px;
    
}

.movie-card-avaliation{
    color: yellow;
    
}
.movie-card-avaliation-conteiner{
    display: flex;
    text-align: center;
}

.movie-card-star-icon{
    color: yellow;
}

.movie-card-footer button{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #A785ED;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    padding: 4px;
    font-size: 1.1em;
}

.teste{
    display: flex;
    justify-content: space-between;    
    margin: 7px 0;
}