@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Open+Sans:wght@600&display=swap');

.main-content-conteiner{
    display: flex;
    max-width: 100vw;
    width: 100%;
}

.main-content-column{
    margin-left: 90px;
    position: relative;
    max-width: 945px;
    margin-right: 20px;
}

.main-content-titles{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 20px;
    font-family: 'Manrope', sans-serif;
}

.main-content-genres-list{
    list-style-type: none;
    margin-top: 10px;
    display: flex;
    justify-content: space-between; 
}

.main-content-genres-list-field{
    margin-left: -23px;
    visibility: hidden;
}

.main-content-genre-title{
    border: 1px solid #4a4e51;
    padding: 10px;
    color: #4a4e51;
    max-width: 180px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

 .main-content-genres-list-field:checked + .main-content-genre-title{
    background-color: rgba(225, 131, 200, 0.2);
    border: 1px solid #E183C8;
    color: #E183C8;
}

.main-content-genres-list-field:hover + .main-content-genre-title{
    background-color: rgba(22, 22, 22, 0.719);
    border: 1px solid #E183C8;
    color: #E183C8;
}

.aside-column{
    margin-top: 15px;
    margin-left: 50px;
    min-height: 500px;
}