.main-content-conteiner{
    display: flex;
    border: 1px solid red;
    min-height: 100vh;
    align-items: flex-start;
}

.main-content-column{
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    position: relative;
    min-height: 100vh;
    min-width: 945px;
    max-width: 945px;
}

.main-content-titles{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 20px;
}

.main-content-genres-list{
    list-style-type: none;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-content-genres-list-field{
    visibility: hidden;
}

.main-content-genre-title{
    border: 1px solid white;
    padding: 10px 35px;
    color: white;
    min-width: 130px;
    text-align: center;
    cursor: pointer;
}

 .main-content-genres-list-field:checked + .main-content-genre-title{
    background-color: rgba(225, 131, 200, 0.2);
    border: 1px solid #E183C8;
}



.aside-column{
    width: 40vw;
    min-height: 100vh;
    max-height: 100vh;    
    display: flex;
    justify-content: center;
    text-align: center;
   
}