.banner-promocional {
    margin-top: 40px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    position: relative;
}

.banner-image{
    width: 100%;
    border-radius: 5px;
}

.money-image{
    position: absolute;
    right: 0;
    max-height: 150%;
    height: 150%;
}

.banner-left-information{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #0F0915;
    margin-left: 25px;
    justify-content: space-evenly;
    border-right: 1px solid pink;
    padding-right: 65px;
}

.banner-left-information h2{
    margin-left: 10px;
    max-height: 100%;
}

.banner-left-cupomIcon-cupomText{
   display: flex;
   align-items: center;
   font-size: 16px;
   
}

.cupomtext{
    cursor: pointer;
}

.banner-right-information{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 425px;
    justify-content: space-around;
    margin-left: 35px;
    margin-top: 10px;
}

.banner-right-timerIcon-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.banner-right-timerIcon-container span{
    margin:13px 0 0 10px;
    font-weight: bold;
}
.banner-right-information span{
    margin-bottom: 10px;
}
.banner-titles-conteiner >h3{
    margin-left:100px ;
}