.shoplist-conteiner{
    margin-top: 40px;
    min-width: 300px;
    max-height: 437px;
    min-height: 100px;
    background-color: #00000081;
    color: white;
    display: flex;
    margin-right: -100px;
    flex-direction: column;
    position: relative;
}

.shoplist-header{
    background-color: #A785ED;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.shoplist-header-content-conteiner{
    display: flex;
    align-items: center;
}
.shoplist-header-content-conteiner span{
    margin-left: 10px;
}

.shoplist-content{
    display: flex;
    
    justify-content: center;
    height: 100%;
}


.teste2 p{
    margin-top: 10px;
}

.shoplist-conteiner-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    margin-bottom: 50px;
    margin-left: 10%;
}

.shoplist-cupom-input{
    border: none;
    outline: none;
    background-color:#0B1217;
    height: 40px;
    min-width: 90%;
    color: white;
    margin-top: 2px;
}